<form action="/restaurants" method="POST" class="w-50 m-auto pt-5">
  <div class="form-group row">
    <label for="inputId"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">id:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputId" name="id">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNameEn"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">name_en:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNameEn" name="name_en">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCategory"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">category:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCategory" name="category">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputImage"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">image:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputImage" name="image">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLocation"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">location:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLocation" name="location">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPhone"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">phone:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPhone" name="phone">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputGoogleMap"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">google_map:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputGoogleMap" name="google_map">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRating"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">rating:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputRating" name="rating">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDescription"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">description:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDescription" name="description">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="/"><u>Back</u></a>
    </div>
  </div>
</form>