<form action="/restaurants" method="POST" class="w-50 m-auto pt-5">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center"><span style="color:red;">*</span>中文名
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="name" placeholder="布娜飛比利時啤酒餐廳" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNameEn"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">英文名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNameEn" name="name_en" placeholder="Bravo Beer">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCategory"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">類別</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCategory" name="category" placeholder="義式餐廳">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputImage"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">照片</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputImage" name="image"
        placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5634/08.jpg">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLocation"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center"><span style="color:red;">*</span>地址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLocation" name="location" placeholder="台北市松山區市民大道四段 185 號"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPhone"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center"><span style="color:red;">*</span>電話</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="02 2570 1255" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputGoogleMap"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">地圖</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputGoogleMap" name="google_map"
        placeholder="https://goo.gl/maps/V9mKwVJ4s5v">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRating"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder px-0 text-center">評價</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputRating" name="rating" placeholder="4.7" min="0.0" max="10.0"
        step="0.1">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDescription"
      class="col-sm-2 col-form-label btn-warning text-muted font-weight-bolder d-flex align-items-center justify-content-center">描述</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputDescription" name="description" rows="4" cols="50"
        placeholder="我們希望帶給您的，不只是啤酒，有美食，還有一份對生活的熱情。 義大利語「Bravo」的原意─「喝采」、「讚揚」， 我想著如果有一個大家都能輕鬆品嚐美酒、享受美食的地方，那就真的是太棒了！ 因為這個念頭，加上一股對比利時啤酒的熱情， 於是「Bravo Beer布娜飛比利時啤酒餐廳」在2006年誕生了..."></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-warning text-muted font-weight-bolder">Create</button>
      <a href="/" class="text-secondary"><u>Back</u></a>
    </div>
  </div>
</form>